# Environnements Python
venv/
.venv/
__pycache__/
*.py[cod]

# Fichiers d'environnement & Cles secretes
docker/.env
.env.local
vercel-app/.env.local
docker/.env.vercel

# Logs & dbt target
target/
dbt_packages/
logs/
dbt_project/target/
dbt_project/logs/

# Data bases locales (DuckDB / Postgres local)
*.duckdb
*.sqlite
*.db

# Airflow
standalone_db_*.db

# Next.js
vercel-app/.next/
vercel-app/out/
vercel-app/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store